{% load i18n %}

<a href="{% url 'profile' %}" class="nav-link">
    <i class="fas fa-user-circle mr-2"></i>
    {% trans "Profile" %}
</a>

<a href="{% url 'about' %}" class="nav-link">
    <i class="fas fa-briefcase mr-2"></i>
    {% trans "About" %}
</a>

<a href="{% url 'projects' %}" class="nav-link">
    <i class="fas fa-file-alt mr-2"></i>
    {% trans "Projects" %}
</a>

<a href="{% url 'contact' %}" class="nav-link">
    <i class="fas fa-envelope mr-2"></i>
    {% trans "Contact" %}
</a>
