{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Tailwind CSS CDN -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body class="min-h-screen flex flex-col bg-gray-100">
  <!-- Navigation -->
  <nav class="w-full">
    {% include 'navbar.html' %}
    <div class="px-4 sm:px-6 md:px-10 bg-gray-400 text-center"></div>
  </nav>

  <!-- Main Content -->
  <main class="flex-grow w-full flex items-center justify-center px-4 sm:px-6 md:px-10">
    <blockquote class="bg-white shadow-xl rounded-xl max-w-4xl w-full p-6">
      <article class="flex flex-col justify-center text-center">
        <div class="space-y-6">
          <p class="text-justify leading-relaxed text-base sm:text-lg md:text-xl">
          Backend Developer with a degree in Industrial Engineering and over 10 years of hands-on experience in electrical and electronic systems.
          Specialized in Python-based backend development (Django, FastApi), RESTful API design, and relational database management.
          Combines in-depth technical hardware knowledge with software development skills, enabling the creation of effective solutions at the intersection of industrial systems and backend automation.
          Has received GitHub awards: YOLO and Drag Shark.
          Certified in AI-assisted development.
          Available for freelance and remote work.
          </p>
          <footer class="flex justify-center items-center space-x-2">
            <span class="font-bold text-lg">Alejandro_CG!</span>
          </footer>
        </div>
      </article>
    </blockquote>
  </main>
</body>
</html>
{% endblock content %}
